article.page, section.main {
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 10px 10px 10px;
  font-family: var(--font-sans);
  &.page {
    max-width: 960px;
  }
  &+ article {
    padding: 10px;
  }
  blockquote {
    cite {
      display: block;
      opacity: 0.6;
    }
  }
  small {
    font-family: var(--font-system);
  }
  pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .footnotes {
    border-top: 2px solid var(--red);
    font-size: 0.8em;
    font-family: var(--font-system);
  }
  .related {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    a {
      &.next {
        text-align: right;
      }
    }
  }
}
