@import 'normalize';
@import 'accessibility';
@import 'framework';
@import 'page';
@import 'post';
@import '404';
@import 'button';
@import 'form';
@import 'headings';
@import 'navbar';
@import 'table';
@import 'featured';

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.debug {
  display: none;
}
