{% extends "default.html" %}
{% block content %}
  <section class="featured">
    <article class="">
      <h1>Featured</h1>
    </article>
  </section>
  <section class="bookshelf main" id='books'>
    <h2>Books</h2>
    {% set bookshelf = get_section(path="books/_index.md") %}
    {%- for book in bookshelf.pages %}
      {{ book_item(book=book) }}
    {%- endfor %}
  </section>
  <section class="main" id='bio'>
    {%- set page = get_page(path="about.md") %}
    {{ page.content | safe }}
  </section>
{% endblock %}
