<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Source+Sans+Pro">
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">

    {% if config.generate_feed %}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}
  </head>
  <body>
    <header>
      <a href="/" class="brand">
        LOGO
        BRAND
      </a>
      <nav>
        links
      </nav>
    </header>
    <main>
      <article class="page">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </article>
    </main>
    <footer>
      <div>Hello from VENUE</div>
      <div><a href="/legal#privacy">Privacy</a></div>
      <div><a href="/legal#terms">Terms</a></div>
      <div>Copyright YEAR</div>
    </footer>
  </body>
</html>
